
@font-face {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    src: url("/liverpool/font/fontello.eot?9082625#iefix") format("embedded-opentype"), url("/liverpool/font/fontello.woff?9082625") format("woff"), url("/liverpool/font/fontello.ttf?9082625") format("truetype"), url("/liverpool/font/fontello.svg?9082625#fontello") format("svg");
}
[class^="icon-"]::before, [class*=" icon-"]::before {
    display: inline-block;
    font-family: "fontello";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.icon-gplus-squared-1::before {
    content: "";
}
.icon-angle-up::before {
    content: "";
}
.icon-youtube-squared::before {
    content: "";
}
.icon-videocam::before {
    content: "";
}
.icon-down-open-big::before {
    content: "";
}
.icon-down-open::before {
    content: "";
}
.icon-video::before {
    content: "";
}
.icon-instagram::before {
    content: "";
}
.icon-video-1::before {
    content: "";
}
.icon-left-open::before {
    content: "";
}
.icon-angle-left::before {
    content: "";
}
.icon-right-open::before {
    content: "";
}
.icon-facebook-squared::before {
    content: "";
}
.icon-twitter-squared::before {
    content: "";
}
.icon-angle-right::before {
    content: "";
}
.icon-picture::before {
    content: "";
}
.icon-pinterest-squared::before {
    content: "";
}
.icon-gplus-squared::before {
    content: "";
}
.icon-mail-alt::before {
    content: "";
}
.icon-user::before {
    content: "";
}
.icon-doc-text-inv::before {
    content: "";
}
.icon-doc-text::before {
    content: "";
}
.icon-facebook::before {
    content: "";
}
.icon-twitter::before {
    content: "";
}
.icon-newspaper::before {
    content: "";
}
.icon-chart-bar::before {
    content: "";
}
.icon-tumblr::before {
    content: "";
}
.icon-gplus::before {
    content: "";
}
.icon-chart-bar-1::before {
    content: "";
}
.icon-play::before {
    content: "";
}
.icon-tumblr-1::before {
    content: "";
}
.icon-pause::before {
    content: "";
}
.icon-gplus-1::before {
    content: "";
}
.icon-stop::before {
    content: "";
}
.icon-camera::before {
    content: "";
}
.icon-fast-fw::before {
    content: "";
}
.icon-menu::before {
    content: "";
}
.icon-fast-bw::before {
    content: "";
}
.icon-share::before {
    content: "";
}
.icon-fancredcompound3::before {
    content: "";
}
.icon-up-open::before {
    content: "";
}
